.img-user-cuts {
  width: 30px;
  height: 30px;
}
.car1dis {
  width: 360px;
  max-width: 90%;
  border-radius: 15px;
  margin-top: 40px;
  background-image: linear-gradient(
    to right,
    #7a209c,
    #6b1c8a,
    #5d1878,
    #4f1466,
    #411055
  );
  margin-left: 10px;
  margin-right: 10px;
  margin: auto;
}

.disf1 {
  display: inline-flex;
}

.size1 {
  padding-right: 30px;
  border-right: 1px solid white;
}
.size2 {
  padding-left: 20px;
}
.size3 {
  height: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-right: 1px solid white;
}
.size4 {
  padding-left: 50px;
  height: 30px;
}

.ant-calendar-range {
  width: 380px;
  margin-left: -35px;
}

.size5 {
  padding-right: 0px;
  border-right: 1px solid white;
  height: 80px;
}
.size6 {
  margin-left: 3px;
  padding-left: 5px;
  height: 70px;
}
.but {
  display: flex;
  margin-left: 75px;
}
.but2 {
  margin-left: 70px;
}
.but3 {
  width: 320px;
  margin: auto;
}
.car2dis {
  width: 360px;
  max-width: 95%;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    #8d25aa,
    #af109b,
    #c9008a,
    #dc0077,
    #e91d64
  );
  margin-left: 10px;
  margin-right: 10px;
  margin: auto;
  margin-top: 40px;
}
.car3dis {
  width: 360px;
  max-width: 95%;
  border-radius: 15px;
  background-color: rgb(104, 44, 159);
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  height: 200px;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 100px;
}
.p-text {
  color: white;
}
.grey {
  color: grey;
}
.modtext {
  color: black;
}
.but1 {
  border-radius: 8px;
  fontsize: 20px;
  fontweight: bold;
  color: linear-gradient(to right, #8d25aa, #af109b, #c9008a, #dc0077, #e91d64);
}
.bold1 {
  font-weight: bold;
}
.bold2 {
  font-weight: bold;
}
.bottomtab {
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  z-index: 11;
  background-color: aliceblue;
  height: 50px;
  padding-top: 10px;
}
.hov {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hov:hover {
  transform: scale(1.3);
}
